@import "settings.scss";
@import "../lib/github/twbs/bootstrap-sass@3.3.6/assets/stylesheets/_bootstrap.scss";

.navbar {
    margin-bottom:0;
}

.top-buffer {
    margin-top:20px;
}

.primary {
    color:$brand-primary;
}

.secondary {
    color:$brand-secondary;
}

.text-primary {
    color:$brand-primary !important;
}

/*#region Member*/

.member-details-wrapper {
    position:relative;
    width:100%;
    height:155px;
    margin-bottom:15px;
}

.member-background {
    position:absolute;
    width:100%;
    height:100%;
    z-index:1000;
    i {
        font-size:10em;
        margin-top:20px;
        color:#f0f0f0;
    }
}

.member-details {
    position:absolute;
    width:100%;
    height:100%;
    z-index:2000;
    h2 {
        margin-top:60px;
    }
}

/*#endregion Member*/

.no-border {
    border:none !important;
}

ul.no-bullets {
    list-style-type:none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #F5F5F5;
}

/*#region Flickr*/

.flickr-image {
    width:260px !important;
    height:300px !important;
}

/*#endregion Flickr*/
