@import "settings.scss";
@import "../lib/github/twbs/bootstrap-sass@3.3.6/assets/stylesheets/_bootstrap.scss";

.navbar {
    margin-bottom:0;
}

.top-buffer {
    margin-top:20px;
}

.primary {
    color:$brand-primary;
}

.secondary {
    color:$brand-secondary;
}
